{% extends 'base.html' %}

{% block title %}zKillboard.com / Logout{% endblock %}
{% block content %}
<div class="alert alert-danger"><strong>{{ message }}</strong><br/>{{ codeHash }}<br/>{{ html }}</div>
{% endblock %}
