<div class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle openMenu" data-toggle="collapse" data-target=".navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img src='/img/wreck.png'/> {% if KillboardName %}{{ KillboardName }}{% else %}zKillboard{% endif %}</a>
		</div>
		<div class="collapse navbar-collapse navbar-main">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Kills <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/kills/">All Kills</a></li>
						<li><a href="/kills/w-space/">W-Space</a></li>
						<!--<li><a href="/kills/highsec/">Highsec</a></li>
						<li><a href="/kills/lowsec/">Lowsec</a></li>
						<li><a href="/kills/nullsec/">Nullsec</a></li>-->
						<li><a href="/kills/solo/">Solo</a></li>
						<li><a href="/kills/5b/">+5b</a></li>
						<li><a href="/kills/10b">+10b</a></li>
						<li><a href="/kills/t1/">T1</a></li>
						<li><a href="/kills/t2/">T2</a></li>
						<li><a href="/kills/t3/">T3</a></li>
						<li class="divider"></li>
						<li class="dropdown-header">Hull Sizes</li>
						<li><a href="/kills/frigates/">Frigates</a></li>
						<li><a href="/kills/destroyers/">Destroyers</a></li>
						<li><a href="/kills/cruisers/">Cruisers</a></li>
						<li><a href="/kills/battlecruisers/">Battlecruisers</a></li>
						<li><a href="/kills/battleships/">Battleships</a></li>
						<li><a href="/kills/capitals/">Capitals</a></li>
						<li><a href="/kills/freighters/">Freighters</a></li>
						<li><a href="/kills/supers/">Supers</a></li>
						<li class="divider"></li>
						<li class="dropdown-header">DUST 514</li>
						<li><a href="/kills/dust/">All Kills</a></li>
						<li><a href="/kills/dust_vehicles/">Vehicles</a></li>
					</ul>
				</li>
				{% if tracker_character or tracker_corporation or tracker_alliance or tracker_faction or tracker_ship or tracker_item or tracker_system or tracker_region %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tracker <b class="caret"></b></a>
					<ul class="dropdown-menu">
						{% if tracker_character %}
						<li class="dropdown-header">Pilots</li>
						{% for data in tracker_character %}
						<li><a href="/character/{{ data.id }}/">{{ data.name }}</a></li>
						{% endfor %}
						{% endif %}
						{% if tracker_corporation %}
						<li class="dropdown-header">Corps</li>
						{% for data in tracker_corporation %}
						<li><a href="/corporation/{{ data.id }}/">{{ data.name }}</a></li>
						{% endfor %}
						{% endif %}
						{% if tracker_alliance %}
						<li class="dropdown-header">Alliances</li>
						{% for data in tracker_alliance %}
						<li><a href="/alliance/{{ data.id }}/">{{ data.name }}</a></li>
						{% endfor %}
						{% endif %}
						{% if tracker_faction %}
						<li class="dropdown-header">Factions</li>
						{% for data in tracker_faction %}
						<li><a href="/faction/{{ data.id }}/">{{ data.name }}</a></li>
						{% endfor %}
						{% endif %}
						{% if tracker_ship %}
						<li class="dropdown-header">Ships</li>
						{% for data in tracker_ship %}
						<li><a href="/ship/{{ data.id }}/">{{ data.name }}</a></li>
						{% endfor %}
						{% endif %}
						{% if tracker_item %}
						<li class="dropdown-header">Ships</li>
						{% for data in tracker_item %}
						<li><a href="/ship/{{ data.id }}/">{{ data.name }}</a></li>
						{% endfor %}
						{% endif %}
						{% if tracker_system %}
						<li class="dropdown-header">Systems</li>
						{% for data in tracker_system %}
						<li><a href="/system/{{ data.id }}/">{{ data.name }}</a></li>
						{% endfor %}
						{% endif %}
						{% if tracker_region %}
						<li class="dropdown-header">Regions</li>
						{% for data in tracker_region %}
						<li><a href="/region/{{ data.id }}/">{{ data.name }}</a></li>
						{% endfor %}
						{% endif %}
						<li class="dropdown-header">Tracker</li>
						<li><a href="/tracker/">Track All</a></li>
					</ul>
				</li>
				{% endif %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Top/Rank <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/top/lasthour/">Last Hour</a></li>
						<li><a href="/ranks/recent/killers">Ranks</a></li>
					</ul>
				</li>
				<li class="hidden-xs hidden-sm"><a href="/post/">Post</a></li>
				<li class="hidden-xs hidden-sm"><a href="http://map.zkillboard.com/" target="_blank">Map</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
            			<li class="hidden-xs hidden-sm hidden-md"><div class="fb-like" data-width="1" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" data-colorscheme="dark" style="padding-top: 15px;"></div></a>
				<li class="hidden-xs hidden-sm"><a href="/top/lasthour/" rel="tooltip" title="Kills added in the last hour" id="lasthour">{{ killsLastHour | number_format(0)}}</a></li>
				<li class="hidden-xs hidden-sm"><a href="#" onclick="return false;" rel="tooltip" title="Eve Time"><div id="my_clock"></div></a></li>
				<li>
					<form name="search" id="search" class="navbar-form navbar-right" action="/search/" method="post">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search" autocomplete="off" id="searchbox" name="searchbox">
						</div>
					</form>
				</li>
				<li class="dropdown hidden-xs">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-info"></i></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">Support</li>
						<li><a href="/tickets/">Tickets</a></li>
						<li><a href="/livechat/">Live Chat</a></li>
						<li class="divider"></li>
						<li class="dropdown-header">Information</li>
						<li><a href="/information/about/">About</a></li>
						<li><a href="/information/statistics/">Statistics</a></li>
						<li><a href="/information/points/">Points</a></li>
						<li><a href="https://neweden-dev.com/ZKillboard_API" target="_blank">API</a></li>
						<li><a href="/information/contact/">Contact</a></li>
						<li><a href="/information/faq/">F.A.Q.</a></li>
						<li><a href="/information/tos/">T.O.S.</a></li>
						<li><a href="/information/legal/">CCP Legal</a></li>
						<li><a href="/information/cookies/">Cookies</a></li>
						<li><a href="/information/license/">zKB License</a></li>
						<li><a href="/information/3rd/">3rd Party</a></li>
					</ul>
				</li>
				{% if sessionusername %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle hidden-xs" data-toggle="dropdown"><i class="fa fa-user"></i></a>
					<a href="#" class="dropdown-toggle hidden-lg hidden-md hidden-sm" data-toggle="dropdown">Account <b class="fa fa-caret-down"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/account/">Account</a></li>
						{% if sessionmoderator or sessionadmin %}
						<li><a href="/moderator/">Moderation</a></li>
						{% endif %}
						<li class="divider"></li>
						<li><a href="/logout/">Logout</a></li>
					</ul>
				</li>
				{% else %}
				<li class="hidden-xs"><a href="/register/">Register</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" href="/" data-toggle="dropdown">Login <i class="fa fa-caret-down"></i></a>
					<div class="dropdown-menu" style="padding: 20px;">
						<form method="post" action="/login/" accept-charset="UTF-8">
							<input class="form-control col-lg-4" type="text" placeholder="Username" id="username" name="username">
							<input class="form-control col-lg-4" type="password" placeholder="Password" id="password" name="password">
							<input type="hidden" id="requesturi" name="requesturi" value="{{ requesturi }}">
							<input type="checkbox" name="autologin" id="autologin" checked="1">
							<label class="string optional"> Remember me</label>
							<input class="btn btn-block btn-primary col-lg-4" type="submit" id="sign-in" value="Login">
							<a href="/forgotpassword/">Forgot password?</a>
						</form>
					</div>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
